<%- include('../public/partials/header.ejs'); %>

<body>
<%- include('../public/partials/sidebar.ejs'); %>
    
<div class = "mainContainer"> <br> 

    <div id = "firstContent"> 

        <div class = "square"> <br> <br>
            <h1 class="mainText"> <%= qtd %> </h1>
            <h5 class = "subtext">Produtos cadastrados</h5>
        </div> <br>
    
        <div class = "square"> <br> <br>
            <h1 class="mainText">10</h1>
            <h5 class = "subtext">Produtos cadastrados</h5>
        </div> <br>
    
        
        <div class = "square"> <br> <br>
            <h1 class="mainText" style="color: rgb(7, 187, 7);">10</h1>
            <h5 class = "subtext">Valor em estoque</h5>
        </div>
    
    </div>


</div>

</body>

<%- include('../public/partials/footer.ejs'); %>
