.square {
    background: rgb(255, 255, 255);
    width: 186px;
    height: 186px;
    /* display: inline-block; */
    margin-right: 100px;
    box-shadow: 2px 2px 8px #0000003d;
    border-radius: 20px;
    margin-left: -100px;
}

.mainContainer {
    color: black;
    margin-left: 250px;
  }
  
  .subtext {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    font-family: Roboto light;
  }
  
  .mainText {
    font-size: 60px;
    text-align: center;
  }
  
  #firstContent {
      margin-left: 22vh;

  }
