<%- include('../public/partials/Header.ejs') %>

<body>
    
  <%- include('../public/partials/Sidebar.ejs') %>
    </section>

    
    
    <br>

    

</body>

<script>



</script>


<%- include('../public/partials/Footer.ejs') %>
