<%- include('../public/partials/Header.ejs') %>

<body>
    
<%- include('../public/partials/Sidebar.ejs') %>
</section>

    
<div class = "mainArea"> <br>
 


</div>

    

</body>



<%- include('../public/partials/Footer.ejs') %>
