<%- include('../public/partials/Header.ejs') %>

<body>
    
    <!-- Sidebar -->
    <div class="sidebar">
    <header>Store</header>
    <ul>
    <li><a href="/dashboard"><i class="fa fa-bars" aria-hidden="true"></i>Menu principal</a></li>
    <li><a href="/produtos/1"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Produtos</a></li>
    <li><a href="/clientes"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Clientes</a></li>
    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>Vendas</a></li>
    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></i>Sair</a></li>
    </ul>
    </div>
    <section>
    
    </section>

    

    <div class = "mainArea">

      <br><br>

      <form class="form-inline">
        <h2 class = "productsH2" style="margin-left: 30px;">Produtos cadastrados <i style="font-family: Roboto; color: rgba(0, 0, 0, 0.219); font-size: 20px">(<%= productList.length  %>)</i></h2>
        <input class="form-control mr-sm-2" style="margin-left: 38%;" type="search" placeholder="Buscar produtos" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        <button class = "btn btn-primary" type = "button" onclick = "openModal()" style="margin-left: 30px; width: 140px;" > Novo produto  <i class="fa fa-plus" aria-hidden="true"></i></button>
      </form> <br>

      

    
</body>

<!-- Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Adicionar novo produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/produtos" method="POST">
          <input class = "form-control" required type="text" name="name" id="name" placeholder="Nome do produto">
          <input class = "form-control" required style="margin-top: 10px" type="text" name="description" id="description" placeholder="Descrição">
          <input class = "form-control" required style="margin-top: 10px" type="text" name="category" id="category" placeholder="Categoria">
          <input class = "form-control" required style="margin-top: 10px" type="number" name="price" id="price" placeholder="Preço">
          <input class = "form-control" required style="margin-top: 10px" type="number" name="amount" id="amount" placeholder="Quantidade">
          <input class = "form-control" required style="margin-top: 10px" type="number" name="weight" id="weight" placeholder="Peso">
          <input class = "form-control" required style="margin-top: 10px" hidden type="number" name="companyId" id="companyId" value = "<%= fixedCompanyId %>" placeholder="Peso">
          <div class="modal-footer"> <br>
            <br>
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Criar</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>


<script>
  function openModal(){
    $('#myModal').modal('show');
}

</script>

<%- include('../public/partials/Footer.ejs') %>
